################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClientApp/.angular/cache/15.2.7
/.vs/MyLNU/FileContentIndex
/.vs
/obj/Debug
/bin
