    <!-- <div class="container-xxl">
        <div class="row">
                <div class="col-3 text-start">
                    <label for="toogle" class="fw-bold text-primary ml-1"> {{currentInfo}}</label>
                    <label class="switch">   
                        <input type="checkbox" id="toggle" (click)="SwitchInfo()">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-5">
                    <div class="example-full-width">
                        <input type="text" placeholder="Вкажіть Факультет" class="mat-input" [formControl]="facultiNameControl" autocomplete="off" (input)="handleInputChange()">
                        <div class="autocomplete-options" *ngIf="facultiNameControl.value && facultiNameControl.value != '' && facultiPicked">
                        <div class="option" *ngFor="let option of filterOptions | async " (click)="selectOption(option)">{{ option }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-3 text-end">
                    
                    <select id="disabledSelect" class="form-select">
                      <option>Disabled select</option>
                    </select>
                  </div>
                
        </div>        
           
    </div> -->
<!--   
<div class="container-fluid">

    <table>
        <tr>
            <th>Name</th>
            <th>Group</th>
        </tr>
        <tr *ngFor="let department of departments ">
            
            <td>
                {{department.name}}
            </td>
            
            <td *ngFor="let object of department.objects">
                {{object.name}}
            </td>

        </tr>
    </table>
</div> -->
   
  <div class="container-xxl">
        <div class="row">
            <div class="col-sm-8 buttons-fac-group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Факультет
                </button>
                <ul class="dropdown-menu faculti-menu" aria-labelledby="btnGroupDrop1" style="height:205px; overflow-y: auto;">
                    <li *ngFor="let group of groups " (click)="selectOption(group)" class="dropdown-item" [ngClass]="{'active': group === facultiPicked}">{{group.name | truncate: 40}}</li>                    
                </ul>
                
                <div class="btn-group dropend groups-item">
                    <button id="btnGroupDrop2" type="button" class="btn btn-primary btn-sm ml-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="!facultiPicked">
                        Группа
                    </button>
                    
                    <ul class="dropdown-menu group-menu " aria-labelledby="btnGroupDrop2" *ngIf="facultiPicked && facultiPicked.objects" style="height:195px; overflow-y: auto;">             
                        <li  сlass="dropdown-item " *ngFor="let group of facultiPicked.objects" (click)="selectGroup(group.name)" [ngClass]="{'active': group.name === selectedGroup}">{{group.name}}</li>                                                    
                    </ul>
                </div>
            </div>         
            <div class="text-sm-end text-start col-sm-4  buttons-fac-group buttons-find find">
                <button class="btn btn-secondary btn-sm" [disabled]="!facultiPicked || selectedGroup == '' " (click)="FindCurrentShedule()">
                    Показати
                </button>   
            </div>
            
        </div>

       

        
        <div class="week">
            <div class="card mt-5 " *ngIf="showEmptyShedule">
                <div class="card-body">
                    <div class="card-title week-day">
                        Понеділок
                    </div>                 
                </div>
            </div>
    
            <div class="after-click-info" *ngIf="showFillShedule">
                <app-each-day-shedule>
                    <h4 class="row justify-content-center title">Понеділок</h4>
                    <div class="mt-3 row justify-content-center time">8:30-9:50</div>
                    <p class="card-title mb-0">1</p>                    
                    <h5 class = 'lesson mt-0 mb-2'>Функціональний аналіз</h5>
                    <p class = 'audit mb-1'>(ауд. 146)</p>   
                    <p class = 'teacher mb-1'>Викладач</p>                    
                </app-each-day-shedule>
                <app-each-day-shedule>
                    <div class="mt-3 row justify-content-center time">10:10-11:30</div>
                    <p class="card-title mb-0">2</p>
                    <h5 class = 'lesson mt-0 mb-2'>Функціональний аналіз</h5>
                    <p class = 'audit mb-1'>(ауд. 146)</p>   
                    <p class = 'teacher mb-1'>Викладач</p>
                </app-each-day-shedule>
                <app-each-day-shedule *ngIf="false">

                    <div class="mt-3 row justify-content-center time">11:50-13:10</div>
                    <p class="card-title mb-0">3</p>
                    <h5 class = 'lesson mt-0 mb-2'>Функціональний аналіз</h5>
                    <p class = 'audit mb-1'>(ауд. 146)</p>   
                    <p class = 'teacher mb-1'>Викладач</p>
                </app-each-day-shedule>
                <app-each-day-shedule>
 
                    <div class="mt-3 row justify-content-center time">13.30-14:50</div>
                    <p class="card-title mb-0">4</p>
                    <h5 class = 'lesson mt-0 mb-2'>Функціональний аналіз</h5>
                    <p class = 'audit mb-1'>(ауд. 146)</p>   
                    <p class = 'teacher mb-1'>Викладач</p>
                </app-each-day-shedule>
                <app-each-day-shedule>

                    <div class="mt-3 row justify-content-center time">15:05-16:25</div>
                    <p class="card-title mb-0">5</p>
                    <h5 class = 'lesson mt-0 mb-2'>Функціональний аналіз</h5>
                    <p class = 'audit mb-1'>(ауд. 146)</p>   
                    <p class = 'teacher mb-1'>Викладач</p>
                </app-each-day-shedule>
                <app-each-day-shedule>

                    <div class="mt-3 row justify-content-center time">16:40-18:00</div>
                    <p class="card-title mb-0">6</p>
                    <h5 class = 'lesson mt-0 mb-2'>Функціональний аналіз</h5>
                    <p class = 'audit mb-1'>(ауд. 146)</p>   
                    <p class = 'teacher mb-1'>Викладач</p>
                </app-each-day-shedule>
            </div>   

            <div class="card mt-3" *ngIf="showEmptyShedule">
                <div class="card-body">
                    <div class="card-title week-day">
                        Вівторок
                    </div>
                  <p>This is some text within a card body.</p>
                </div>
            </div>

            <div class="card mt-3" *ngIf="showEmptyShedule">
                <div class="card-body">
                    <div class="card-title week-day">
                        Середа
                    </div>
                  <p>This is some text within a card body.</p>
                </div>
            </div>
            <div class="card mt-3" *ngIf="showEmptyShedule">
                <div class="card-body">
                    <div class="card-title week-day">
                        Четверг
                    </div>
                  <p>This is some text within a card body.</p>
                </div>
            </div>

            <div class="card mt-3" *ngIf="showEmptyShedule">
                <div class="card-body">
                    <div class="card-title week-day">
                        П'ятниця
                    </div>
                  <p>This is some text within a card body.</p>
                </div>
            </div>
        </div>
  </div>

