.switch {
    margin: 10px ;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(36px);
  }
  
  /* Круглый ползунок */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 


  .example-full-width {
    position: relative;
    width: 60%;
   
  }
  
  .mat-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .autocomplete-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .option {
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  

  .buttons-fac-group button{
    width: 120px;
    border-radius: 20px;
  }
  /* @media (max-width: 575px) {
    .buttons-fac-group button{
      width: auto;
    }

  } */

  @media (max-width: 575px) {
    .buttons-find{
      margin-top: 20px;
    }
    .find button{
      width: 100%;
    }
    .buttons-fac-group {
      text-align: center;
    }
    
  }

  .week .card{
    background-color: #edcbbe;
    border-radius: 20px;
    min-height:40px;
  }
  .week .card .card-title{
    color: #3b4175;
    font-size: 18px;
    font-weight: 500;
  }

 

  .group-menu:hover, .faculti-menu:hover{
    cursor: pointer;
  }

  .groups-item .dropdown-menu{
    min-width: 6.5rem;
  }
  .groups-item ul li{
    text-align: center;
    
    color: black;
  }
  .groups-item ul li:last-child{
    padding-bottom: 10px;
  }
  .faculti-menu ul li:last-child{
    padding-bottom: 10px;
  }
  .group-menu::-webkit-scrollbar {
    width: 2px; 
    height: 0.5px; 
  }
  .faculti-menu::-webkit-scrollbar {
    width: 2px; 
    height: 0.5px; 
  }
  .group-menu::-webkit-scrollbar-track {
    background-color: white;
  }
  .faculti-menu::-webkit-scrollbar-track {
    background-color: white;
  }
  .group-menu::-webkit-scrollbar-thumb {
    background-color: grey; 
  }
  .faculti-menu::-webkit-scrollbar-thumb {
    background-color: grey; 
  }

  .active {
    background-color: #f0f0f0; 
    color: black;
}
.audit{
  font-size: 16px
}
.teacher{
  font-size: 16px
}
  
.lesson {
  font-size: 20px; 
}


@media screen and (max-width: 768px) {
  .lesson {
      font-size: 18px;
      font-weight: 400;
  }
  .audit{
    font-size: 14px
  }
  .teacher{
    font-size: 14px
  }
}

@media screen and (max-width: 576px) {
  .lesson {
      font-size: 16px;
  }
  .audit{
    font-size: 12px
  }
  .teacher{
    font-size: 12px
  }
}

.butn-group, .butn-faculti{
  background-color: #254882;
  border: none;
  outline: none;
  color: white;
}
.butn-group:disabled{
background-color: #244680;
}
.buttons-fac-group .btn-primary:focus,.buttons-fac-group .butn-find:focus{
  box-shadow: none;
}

.butn-find{
  background-color: #D7C3B6;
  border:none;
  outline: none;
  color: #024864;
}
.butn-find:active{
  background-color:#ceb4a3;
  color: #024864;
}
.week .empty{
  min-height: 100px;
  margin-bottom: 40px;
}
.week .card{
  background-color: #D7C3B6;
}
/* .faculti-menu li:active, .group-menu li:active{
  background-color: #254882;
} */
.group-menu li:hover{
  background-color: #f0f0f0;
}
.faculti-menu, .group-menu{
  padding-top:0px ;
  padding-bottom: 0px;
}
.group-menu li:active{
  background-color: #4e73df;
  color: white !important;
}

@media (max-width: 400px) {
  .buttons-fac-group button{
    font-size: 12px;
    width: 95px;
  }
  .buttons-find button{
    width: 100% !important;
  }
  }
 
