
   
  <div class="container-xxl">
        <div class="row">
            <div class="col-sm-8 buttons-fac-group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle butn-faculti" data-bs-toggle="dropdown" aria-expanded="false">
                    Факультет
                </button>
                <ul class="dropdown-menu faculti-menu" aria-labelledby="btnGroupDrop1" style="height:205px; overflow-y: auto;">
                    <li *ngFor="let faculti of departments " (click)="selectOption(faculti)" class="dropdown-item" [ngClass]="{'active': faculti === facultiPicked}">{{faculti.name | truncate: 40}}</li>                    
                </ul>
                
                <div class="btn-group groups-item">
                    <button id="btnGroupDrop2" type="button" class="btn btn-primary btn-sm ml-3 dropdown-toggle butn-group" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="!facultiPicked">
                        Группа
                    </button>
                    
                    <ul class="dropdown-menu group-menu " aria-labelledby="btnGroupDrop2" *ngIf="facultiPicked && facultiPicked.objects" style="height:195px; overflow-y: auto;">             
                        <li  сlass="dropdown-item " *ngFor="let group of facultiPicked.objects" (click)="selectGroup(group.name, group.ID)" [ngClass]="{'active': group.name === selectedGroup}">{{group.name}}</li>                                                    
                    </ul>
                </div>
            </div>         
            <div class="text-sm-end text-start col-sm-4  buttons-fac-group buttons-find find">
                <button class="btn btn-sm butn-find" [disabled]="!facultiPicked || selectedGroup == '' " (click)="FindCurrentShedule()">
                    Показати
                </button>   
            </div>
            
        </div>

       
       

        
        <div class="week" style="color:#024864">
            <div class="card mt-5 empty" *ngIf="showEmptyShedule">
                <div class="card-body">
                    <div class="card-title week-day">
                        Понеділок
                    </div>                 
                </div>
            </div>
            <div *ngIf="dataread">
                <h4 class="row justify-content-center title mt-4" *ngIf="showFillShedule">Понеділок</h4>
                <div *ngIf="dataread && currentShedule.Monday && currentShedule.Monday.length; else mblock">
                    <div class="after-click-info" *ngIf="showFillShedule" >
                        <div *ngFor="let monday of currentShedule.Monday" >
                            <app-each-day-shedule >
                                <div class="mt-3 row justify-content-center time">{{monday.lesson_time}}</div>
                                <p class="card-title mb-0">{{monday.lesson_number}}</p>                    
                                <h5 class = 'lesson mt-0 mb-2'>ГЙЕ ПОРНО ОКЕЙ НОГА ЖОПА</h5>    
                                <p class="teacher mb-1">{{monday.lesson_description}}</p>                                                
                            </app-each-day-shedule>
                            
                        </div>
                    </div>
                </div>
                <ng-template #mblock>
                    <app-each-day-shedule>
                        <h5 class = 'lesson mt-0 mb-2'>ЗАНЯТЬ НЕ ЗНАЙДЕНО</h5>
                    </app-each-day-shedule>
                </ng-template>
            </div>
            

                <div class="card mt-5 empty" *ngIf="showEmptyShedule">
                    <div class="card-body">
                        <div class="card-title week-day">
                            Вівторок
                        </div>                 
                    </div>
                </div>
                <div *ngIf="dataread">
                    <h4 class="row justify-content-center title mt-4" *ngIf="showFillShedule">Вівторок</h4>
                    <div *ngIf="dataread && currentShedule.Tuesday && currentShedule.Tuesday.length; else tublock">
                        <div class="after-click-info" *ngIf="showFillShedule" >
                            <div *ngFor="let tuesday of currentShedule.Tuesday" >
                                <app-each-day-shedule >
                                    <div class="mt-3 row justify-content-center time">{{tuesday.lesson_time}}</div>
                                    <p class="card-title mb-0">{{tuesday.lesson_number}}</p>                    
                                    <h5 class = 'lesson mt-0 mb-2'>{{tuesday.lesson_description}}</h5>
                                                        
                                </app-each-day-shedule>
                                
                            </div>
                        </div>
                    </div>
                    <ng-template #tublock>
                        <app-each-day-shedule>
                            <h5 class = 'lesson mt-0 mb-2'>ЗАНЯТЬ НЕ ЗНАЙДЕНО</h5>
                        </app-each-day-shedule>
                    </ng-template>
                </div>

                
                    <div class="card mt-5 empty" *ngIf="showEmptyShedule">
                        <div class="card-body">
                            <div class="card-title week-day">
                                Середа
                            </div>                 
                        </div>
                    </div>
                    <div *ngIf="dataread">
                        <h4 class="row justify-content-center title mt-4" *ngIf="showFillShedule">Середа</h4>
                        <div *ngIf="dataread && currentShedule.Wednesday && currentShedule.Wednesday.length; else wblock">
                            <div class="after-click-info" *ngIf="showFillShedule" >
                                <div *ngFor="let wensday of currentShedule.Wednesday" >
                                    <app-each-day-shedule >
                                        <div class="mt-3 row justify-content-center time">{{wensday.lesson_time}}</div>
                                        <p class="card-title mb-0">{{wensday.lesson_number}}</p>                    
                                        <h5 class = 'lesson mt-0 mb-2'>{{wensday.lesson_description}}</h5>
                                                           
                                    </app-each-day-shedule>
                                    
                                </div>
                            </div>
                        </div>
                        <ng-template #wblock>
                            <app-each-day-shedule>
                                <h5 class = 'lesson mt-0 mb-2'>ЗАНЯТЬ НЕ ЗНАЙДЕНО</h5>
                            </app-each-day-shedule>
                        </ng-template>
                    </div>
    


                    <div class="card mt-5 empty" *ngIf="showEmptyShedule">
                        <div class="card-body">
                            <div class="card-title week-day">
                                Четверг
                            </div>                 
                        </div>
                    </div>
                    <div *ngIf="dataread">
                        <h4 class="row justify-content-center title mt-4" *ngIf="showFillShedule">Четверг</h4>
                        <div *ngIf="dataread && currentShedule.Thursday && currentShedule.Thursday.length; else tublock">
                            <div class="after-click-info" *ngIf="showFillShedule" >
                                <div *ngFor="let thursday of currentShedule.Thursday" >
                                    <app-each-day-shedule >
                                        <div class="mt-3 row justify-content-center time">{{thursday.lesson_time}}</div>
                                        <p class="card-title mb-0">{{thursday.lesson_number}}</p>                    
                                        <h5 class = 'lesson mt-0 mb-2'>{{thursday.lesson_description}}</h5>
                                                           
                                    </app-each-day-shedule>
                                    
                                </div>
                            </div>
                        </div>
                        <ng-template #tublock>
                            <app-each-day-shedule>
                                <h5 class = 'lesson mt-0 mb-2'>ЗАНЯТЬ НЕ ЗНАЙДЕНО</h5>
                            </app-each-day-shedule>
                        </ng-template>
                    </div>


                    <div class="card mt-5 empty" *ngIf="showEmptyShedule">
                        <div class="card-body">
                            <div class="card-title week-day">
                                П'ятниця
                            </div>                 
                        </div>
                    </div>
                    <div *ngIf="dataread">
                        <h4 class="row justify-content-center title mt-4" *ngIf="showFillShedule">П'ятниця</h4>
                        <div *ngIf="dataread && currentShedule.Friday && currentShedule.Friday.length; else tublock">
                            <div class="after-click-info" *ngIf="showFillShedule" >
                                <div *ngFor="let friday of currentShedule.Friday" >
                                    <app-each-day-shedule >
                                        <div class="mt-3 row justify-content-center time">{{friday.lesson_time}}</div>
                                        <p class="card-title mb-0">{{friday.lesson_number}}</p>                    
                                        <h5 class = 'lesson mt-0 mb-2'>{{friday.lesson_description}}</h5>
                                                        
                                    </app-each-day-shedule>
                                    
                                </div>
                            </div>
                        </div>
                        <ng-template #tublock>
                            <app-each-day-shedule>
                                <h5 class = 'lesson mt-0 mb-2'>ЗАНЯТЬ НЕ ЗНАЙДЕНО</h5>
                            </app-each-day-shedule>
                        </ng-template>
                    </div>
            
            </div>
    </div>

