
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge bg-danger badge-counter">3+</span>
    </a>
    <!-- Dropdown - Alerts -->
    <ul class="dropdown-menu dropdown-menu-end shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Сповіщення
        </h6>
        <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                    <div class="icon-circle bg-primary">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">Грудень 19, 2023</div>
                    <span class="font-weight-bold">Не забудьте підготуватися до екзамену 22 грудня!</span>
                </div>
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                    <div class="icon-circle bg-success">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">Грудень 15, 2023</div>
                    Залишилось одне невиконане завдання.
                </div>
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                    <div class="icon-circle bg-warning">
                        <i class="fa-solid fa-fire"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">Грудень 8, 2023</div>
                    Ваша публікація в топі обговорень!
                </div>
            </a>
        </li>
        <li><a class="dropdown-item text-center small text-gray-500" href="#">Показати всі сповіщення</a></li>
    </ul>
</li>

