
    <div class="container-xxl ">
        <div class="popular-events">
        <div class="row justify-content-center ">
            <div class="col-12 col-md-10 col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between align-items-center own-resolution-property">
    
                            <div class="col-7">
                                <div class="card-title custom d-flex align-items-center"> 
                                    <img class="rounded-circle" src="assets/avatar3.svg" alt="..." style="width: 2rem; height: 2rem">
                                    <span class="ms-2" style="font-size: 13px; font-weight: 600"> Tymur Safiulov</span>
                                </div>
                                <h6 class="card-subtitle fw-bold">Екз з математики</h6>
                                <div class="btn-links d-flex align-items-center">
                                    <button href="#" class="btn btn-secondary card-link me-2">
                                        <span>343</span>
                                        <i class="fa-solid fa-users ms-1"></i>
                                    </button>
                                    <button href="#" class="btn btn-secondary card-link">
                                        <span>18.7k</span>
                                        <i class="fa-regular fa-comments ms-1"></i>
                                    </button>
                                </div>
                                <button class="card-text btn btn-primary  time-button" style="margin-right: 0px;">Приєднатись</button>
                            </div>
    
                            <div class="col-5 text-end">
                                <button class="card-title btn button-add " style="margin-right: 0px;">Приєднатись</button>
                                <img class="img-fluid card-subtitle" alt="code" src="/assets/code_2_img.jpg" style="width: 100%; border-radius: 10px; float:right">
                            </div>

                        </div>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-md-10 col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between align-items-center own-resolution-property">
    
                            <div class="col-7">
                                <div class="card-title custom d-flex align-items-center"> 
                                    <img class="rounded-circle" src="assets/avatar3.svg" alt="..." style="width: 2rem; height: 2rem">
                                    <span class="ms-2" style="font-size: 13px; font-weight: 600"> Tymur Safiulov</span>
                                </div>
                                <h6 class="card-subtitle fw-bold">Екз з математики</h6>
                                <div class="btn-links d-flex align-items-center">
                                    <button href="#" class="btn btn-secondary card-link me-2">
                                        <span>343</span>
                                        <i class="fa-solid fa-users ms-1"></i>
                                    </button>
                                    <button href="#" class="btn btn-secondary card-link">
                                        <span>18.7k</span>
                                        <i class="fa-regular fa-comments ms-1"></i>
                                    </button>
                                </div>
                                <button class="card-text btn btn-primary  time-button" style="margin-right: 0px;">Приєднатись</button>
                            </div>
    
                            <div class="col-5 text-end">
                                <button class="card-title btn button-add " style="margin-right: 0px;">Приєднатись</button>
                                <img class="img-fluid card-subtitle" alt="code" src="/assets/code_2_img.jpg" style="width: 100%; border-radius: 10px; float:right">
                            </div>

                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-10 col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between align-items-center own-resolution-property">
    
                            <div class="col-7">
                                <div class="card-title custom d-flex align-items-center"> 
                                    <img class="rounded-circle" src="assets/avatar3.svg" alt="..." style="width: 2rem; height: 2rem">
                                    <span class="ms-2" style="font-size: 13px; font-weight: 600"> Tymur Safiulov</span>
                                </div>
                                <h6 class="card-subtitle fw-bold">Екз з математики</h6>
                                <div class="btn-links d-flex align-items-center">
                                    <button href="#" class="btn btn-secondary card-link me-2">
                                        <span>343</span>
                                        <i class="fa-solid fa-users ms-1"></i>
                                    </button>
                                    <button href="#" class="btn btn-secondary card-link">
                                        <span>18.7k</span>
                                        <i class="fa-regular fa-comments ms-1"></i>
                                    </button>
                                </div>
                                <button class="card-text btn btn-primary  time-button" style="margin-right: 0px;">Приєднатись</button>
                            </div>
    
                            <div class="col-5 text-end">
                                <button class="card-title btn button-add " style="margin-right: 0px;">Приєднатись</button>
                                <img class="img-fluid card-subtitle" alt="code" src="/assets/code_2_img.jpg" style="width: 100%; border-radius: 10px; float:right">
                            </div>

                        </div>
                    </div>
                  </div>
            </div>

            
        </div>
    </div>


        <div class="all-list">
            <ul class="list-group ">
                <li class="list-group-item " >
                    <div class="row justify-content-between">   
                        <div class="col-sm-4  user-name">
                            <span class=""> 
                                <img class="rounded-circle user-img " src="assets/avatar3.svg" alt="..." style="width: 2.5rem ; height:2.5rem">
                                <span style="vertical-align: middle; " style="font-size: 16px; font-weight:600" class="ml-2"> Tymur Safiulov</span>
                            </span>
                        </div>
                        <div class="col-6 text-start fw-bold col-lg-3  name-of-event">Екз з ТІМСу</div>

                        <div class="col-lg-3  d-none d-lg-flex text-center all-list-folower ">
                            <button class="btn btn-secondary" style="padding-top:10px;">
                                228
                                <i class="fa-solid fa-users "></i>
                            </button>
                            <button class="btn btn-secondary ml-2" style="padding-top:10px;">
                                1.2k
                                <i class="fa-regular fa-comments"></i>
                            </button>
                        </div>
                        


                        <div class="col-lg-2 text-end col-6 ">
                            <button class="btn btn-primary">Приєднатись</button>
                        </div>
                    </div> 
                </li>


                <li class="list-group-item " >
                    <div class="row justify-content-between">   
                        <div class="col-sm-4  user-name">
                            <span class=""> 
                                <img class="rounded-circle user-img " src="assets/avatar3.svg" alt="..." style="width: 2.5rem ; height:2.5rem">
                                <span style="vertical-align: middle; " style="font-size: 16px; font-weight:600" class="ml-2"> Tymur Safiulov</span>
                            </span>
                        </div>
                         <div class="col-6 text-start fw-bold col-lg-3  name-of-event mt-2">Екз з ТІМСу</div>

                        <div class="col-lg-3  d-none d-lg-flex text-center all-list-folower ">
                            <button class="btn btn-secondary" style="padding-top:10px;">
                                228
                                <i class="fa-solid fa-users "></i>
                            </button>
                            <button class="btn btn-secondary ml-2" style="padding-top:10px;">
                                1.2k
                                <i class="fa-regular fa-comments"></i>
                            </button>
                        </div>
                        


                        <div class="col-lg-2 text-end col-6 ">
                            <button class="btn btn-primary" >Приєднатись</button>
                        </div>
                    </div> 
                </li>


               <li class="list-group-item row justify-content-between" >
                  
                        <div class="col-sm-4  user-name">
                            <span class=""> 
                                <img class="rounded-circle user-img " src="assets/avatar3.svg" alt="..." style="width: 2.5rem ; height:2.5rem">
                                <span style="vertical-align: middle; " style="font-size: 16px; font-weight:600" class="ml-2"> Tymur Safiulov</span>
                            </span>
                        </div>
                        <div class="col-6 text-start fw-bold col-lg-3  name-of-event">Екз з ТІМСу</div>

                        <div class="col-lg-3  d-none d-lg-flex text-center all-list-folower ">
                            <button class="btn btn-secondary" style="padding-top:10px;">
                                228
                                <i class="fa-solid fa-users "></i>
                            </button>
                            <button class="btn btn-secondary ml-2" style="padding-top:10px;">
                                1.2k
                                <i class="fa-regular fa-comments"></i>
                            </button>
                        </div>
                        


                        <div class="col-lg-2 text-end col-6 ">
                            <button class="btn btn-primary">Приєднатись</button>
                        </div>
                    
                </li>

                
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>

    </div>

    
