<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Новини</h1>
  </div> -->

  <!-- Content Row -->
  <div class="row main-card">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-7 mb-4 ">
          <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                                                  
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-7 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  
              </div>
          </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-7 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">

              </div>
          </div>
      </div>

      <div class="col-xl-3 col-md-7 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                
            </div>
        </div>
    </div>

  </div>

  <!-- Content Row -->

  <div class="row secondary-cards">

      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between ml-2 mb-4">
                  <h6 class="m-0 display-6" style="color: #1c7ab0;">Новини</h6>
                  
              </div>
              <!-- Card Body -->
              <div class="card-body row">
               
                    <!-- <div class="col-sm-6  col-xl-4 img-news">
                        <img src="assets/car.jpg" alt="" class="img-fluid ml-2" >
                    </div>
                    <div class="col-sm-6 col-xl-8 news-disc ">
                        <p>Студент 2 курсу приїхав на пари на Bugatti Chiron</p>
                    </div> -->

                    <div class="col-sm-6  col-xl-4 img-news">
                        <img src="assets/car.jpg" alt="" class="img-fluid ml-2" >
                    </div>
                    <div class="col-sm-6 col-xl-8  ">
                        <p class="news-disc">Студент 2 курсу приїхав на пари на Bugatti Chiron</p>
                        <p class="news-subtitle">{{ text | truncate: 100 }}</p>
                        <button class="btn btn-primary button-more" >Детальніше</button>
                        <a href="" class=" link-more" style="float: right;">Детальніше</a>
                    </div>
                
              </div>

              <div class="card-body row">
               
                <!-- <div class="col-sm-6  col-xl-5 img-news">
                    <img src="assets/patron.png.webp" alt="" class="img-fluid ml-2" >
                </div>
                <div class="col-sm-6 col-xl-7 news-disc">
                    <p>Пес Патрон навідав ЛНУ</p>
                </div> -->

                <div class="col-sm-6  col-xl-4 img-news">
                    <img src="assets/patron.png.webp" alt="" class="img-fluid ml-2" >
                </div>
                <div class="col-sm-6 col-xl-8  ">
                    <p class="news-disc">Пес Патрон навідав ЛНУ</p>
                    <p class="news-subtitle">{{ text | truncate: 100 }}</p>
                    <button class="btn btn-primary button-more" >Детальніше</button>
                    <a href="" class=" link-more" style="float: right;">Детальніше</a>
                </div>
            
          </div>


          <div class="card-body row">
               
            <!-- <div class="col-sm-6  col-xl-5 img-news">
                <img src="assets/code_2_img.jpg" alt="" class="img-fluid ml-2" >
            </div>
            <div class="col-sm-6 col-xl-7 news-disc ">
                <p>Олімпіада з програмування</p>
            </div> -->

            <div class="col-sm-6  col-xl-4 img-news">
                <img src="assets/code_2_img.jpg" alt="" class="img-fluid ml-2" >
            </div>
            <div class="col-sm-6 col-xl-8  ">
                <p class="news-disc">Олімпіада з програмування</p>
                <p class="news-subtitle">{{ text | truncate: 100 }}</p>
                <button class="btn btn-primary button-more" >Детальніше</button>
                <a href="" class=" link-more" style="float: right;">Детальніше</a>
            </div>
        
      </div>


          </div>
      </div>

      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <div
                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0  header-cards" style="color: #1c7ab0;"></h6>
                  
              </div>
              <!-- Card Body -->
              <div class="card-body">

              </div>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0  header-cards" style="color: #1c7ab0;">Нотатки </h6>
            </div>
            <div class="card-body">
                <div class="list-of-note">
                    <ul class="">
                        <li>
                            Зробити таск
                        </li>
                        <li>
                            Підготуватись до модуля
                        </li>
                    </ul>
                </div>  
            </div>

      </div>


  </div>

  

  <!-- Content Row -->
  <div class="row">

      <!-- Content Column -->
      <div class="col-lg-6 mb-4">

          <!-- Project Card Example -->

          <!-- Color System -->

  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
<div class="container my-auto">
  <div class="copyright text-center my-auto">
      <span>Copyright &copy; МійЛНУ 2023</span>
  </div>
</div>
</footer>
<!-- End of Footer -->


<!-- End of Content Wrapper -->
<!-- End of Page Wrapper -->
