.main-card .card{
 min-height: 50px;
}

.border-left-danger {
    border-left: 0.4rem solid #ff0512 !important;
}

.border-left-success {
    border-left: 0.4rem solid #23fc5a !important;
}

.border-left-primary {
    border-left: 0.4rem solid #83c9f2 !important;
}

.border-left-warning {
    border-left: 0.4rem solid #fca308 !important;
}

.secondary-cards .card .card-header{
    border-bottom: none;
}

@media (max-width: 575px) {
    .secondary-cards .img-news {
        text-align: center;
    }
}
@media (max-width: 575px) {
    .secondary-cards .news-disc {
       margin-top: 10px;
      font-size: 15px;
       text-align: center;
    }
   
}
/* @media (max-width: 575px) {
    .secondary-cards .img {
        width: 250px;
    }
} */

.secondary-cards img{
    width: 95%;
    height: 150px;
    border-radius: 10px;
}
@media (min-width: 575px) {
    
    .news-disc {
        display: flex;
        align-items: center;
    }
   
}
/* @media (max-width: 575px) {
    
    .news-disc:not(:last-child){
        border-bottom:0.5px solid grey ;
    }
} */

.news-disc{
   
    font-size: 18px;
    color:#02446b;
    font-weight: 500;
    margin-bottom: 4px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 400px; */
}
.news-time{
    font-size: 12px;
    margin-bottom: 1px;
}
.button-more{
    display: none;
}
/* @media (min-width: 576px) and (max-width: 1200px){
    .button-more {
        display: block;
    }
} */

.link-more{
    display: none;
    text-decoration: underline;
    color:grey;
}
.link-more:hover{
    color: #1c7ab0;
}
@media (max-width:576px) {
    .link-more{
        display: block;
    }
}
.news-subtitle{
    font-size: 14px;
}
@media (max-width: 1200px) {
    .news-disc {
        font-size: 16px;
    }
    .news-subtitle{
        font-size: 13px;
    }
    
}
/* @media (max-width: 991px) {
    .news-subtitle {
        display: none;
    }
} */
@media (max-width: 597px) {
    .news-disc {
        font-size: 14px;
    }
}

.header-cards{
    font-size: 25px;
}

.list-of-note ul li{
    font-size: 20px;
    color: black;
    margin-left: 6px;
}
.invis2{
    display: none;
}
.invis1{
    display: block;
}
.invis3{
    display: none;
}
@media (max-width:1300px) {
    .invis2{
        display: block;
    }

    .invis1{
        display: none;
    }
}
@media (max-width:660px) {
    .invis3{
        display: block;
    }
    .invis2{
        display: none;
    }
}
.invissub1{
    display: block;
}
.invissub2{
    display: none;
}
@media (max-width:1060px) {
    .invissub1{
        display: none;
    }
    .invissub2{
        display: block;
    }
}
@media (max-width:991px) {
    .invissub1{
        display: block;
    }
    .invissub2{
        display: none;
    }
}
@media (max-width:869px) {
    .invissub1{
        display: none;
    }
    .invissub2{
        display: block;
    }
}
.tm-lg{
    display: block;

}
.tm-sm{
    display: none;
    text-decoration:underline;
    font-size: 14px;
    float: right;
}
@media (max-width:575px) {
    .tm-lg{
        display: none;
    
    }
    .tm-sm{
        display: block;
    }
    .invissub1{
        display: block;
    }
    .invissub2{
        display: none;
    }
}
