.card{
    background-color: #D7C3B6;
    border-radius: 20px;
    min-height:60px;
  }
.card .card-title{
    color: #3b4175;
    font-size: 18px;
    font-weight: 500;
  }

 .card{
    width: 75%
  }
  @media (max-width: 690px) {
   .card{
      width: 90%;
    }
  }