<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="home">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fa-solid fa-graduation-cap"></i>
      </div>
      <div class="sidebar-brand-text mx-1">МійЛНУ</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" routerLink="home">
          <i class="fa-solid fa-house"></i>
          <span>Головна</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Глобальні
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link" routerLink="forum">
          <i class="fa-solid fa-comment"></i>
          <span>Форум</span></a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fa-solid fa-folder-open"></i>
          <span>Репозиторій</span></a>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fa-solid fa-book-open"></i>
          <span>Бібліотека</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      Персональні
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link" routerLink="shedule">
          <i class="fa-solid fa-chalkboard-user"></i>
          <span>Розклад</span></a>
  </li>

  <!-- Nav Item - Charts -->

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fa-solid fa-map"></i>
          <span>Мапа</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar Message -->
  <div class="sidebar-card d-none d-lg-flex">
      <img class="sidebar-card-illustration mb-2" src="img\the-internet.svg" alt="...">
      <p class="text-center mb-2"><strong>МійЛНУ Plus</strong> містить преміум-функції, додаткові навчальні матеріали та багато іншого!</p>
      <a class="btn btn-success btn-sm" href="#">Оновити до Plus!</a>
  </div>
</ul>

