<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-xl-8 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title header-content mt-2">Студент 2 курсу приїав на пари на Bugatti Chiron</h5>
                    <p class="card-text date-content">1 лютого 2024  <span class="ml-2"> 13:56</span></p>
                    <img src="assets/car.jpg" class="img-fluid" alt="..." style="height: 500px">
                    <p class="card-text description-content mt-4 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas neque facilis cumque distinctio repudiandae, optio dolorum nam minus corporis debitis unde illum cupiditate ea explicabo in quam. Tempore, recusandae aut.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor rem odit distinctio, a, magnam quos facere ad ipsa vitae debitis numquam labore iste tempora laborum aliquid soluta esse sapiente in.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate harum quia necessitatibus eveniet, nulla dolores dolor, repudiandae iusto eos minima magnam dolore deserunt tenetur. Architecto quo eligendi minima? Aliquam, accusamus!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur corporis debitis omnis eius, dolore aliquid neque? Sit, earum? Optio molestias doloribus quo blanditiis sit, numquam perspiciatis hic molestiae inventore. Rerum.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3 d-none d-xl-block">
            <div class="card p-2">
                <div class="card-body news-secondary">
                    <h5 class="card-title header-content mb-4">Більше новин</h5>
                    <div class="px-5 more-news" style="border-bottom:1px solid grey">
                        <p class="card-text date-content mb-0">01.02.2024</p>
                        <p class="text-primary fw-bold mb-0">Відбулося засідання вченої ради Унивіерситету</p>
                        <p class="text-secondary ">{{otherDesrip | truncate: 120}}</p>
                    </div>
                    <div class="px-5 my-5 more-news" style="border-bottom:1px solid grey">
                        <p class="card-text date-content mb-0">01.02.2024</p>
                        <p class="text-primary fw-bold mb-0">Відбулося засідання вченої ради Унивіерситету</p>
                        <p class="text-secondary ">{{otherDesrip | truncate: 120}}</p>
                    </div>
                    <div class="px-5 more-news">
                        <p class="card-text date-content mb-0">01.02.2024</p>
                        <p class="text-primary fw-bold mb-0">Відбулося засідання вченої ради Унивіерситету</p>
                        <p class="text-secondary ">{{otherDesrip | truncate: 120}}</p>
                    </div>
                    <a href="" class="card-link" style="float: right;">Всі новини</a>
                </div>
            </div>
        </div>
    </div>
</div>
